@import "tailwindcss";

@theme {
  --color-bg: #fef7ee;
  --color-surface: #fff;
  --color-text: #2c1a0e;
  --color-primary: #c4622d;
  --color-secondary: #2d6a4f;
  --color-accent: #e8913a;
  --color-border: #e8d8c8;
  --color-muted: #9e8878;

  --font-family-sans: "Space Grotesk", sans-serif;

  --animate-slide-in-left: slideInLeft 0.3s ease-out;
  --animate-slide-in-right: slideIn 0.3s ease-out;

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.dark {
  --color-bg: #1a1410;
  --color-surface: #2c2420;
  --color-text: #f5e6d3;
  --color-primary: #e8913a;
  --color-secondary: #52b788;
  --color-accent: #ffa94d;
  --color-border: #3d342a;
  --color-muted: #a89584;
}

* {
  font-family: var(--font-family-sans);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a, button {
	cursor: pointer;
}
